@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1512px;
}

.card.card-default {
  box-shadow: 0 5px 20px rgba(146, 153, 184, 0.03);
  border: 0 none;
}

.atbd-breadcrumb__item span {
  font-size: 14px;
  transform: rotate(10deg);
  display: inline-block;
  padding: 0px 10px;
}

.atbd-breadcrumb__item:first-child a {
  font-size: 14px;
  color: var(--primary-color);
}

.atbd-breadcrumb__item a {
  color: var(--black-color);
}

.card-header {
  padding: 20px;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #f1f2f6;
}

.campaign-form label {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 10px;
}

.campaign-form .form-group {
  margin-bottom: 20px;
}

.form-control.ih-medium {
  height: 58px;
}

.campaign-form input::-moz-placeholder {
  font-size: 14px;
  color: #909090;
}

.campaign-form input::placeholder {
  font-size: 14px;
  color: #909090;
}

.campaign-form textarea::-moz-placeholder {
  font-size: 14px;
  color: #909090;
}

.campaign-form textarea::placeholder {
  font-size: 14px;
  color: #909090;
}

.campaign-form .upload__image-wrapper h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.campaign-form .upload__image-wrapper h4 span {
  color: var(--primary-color);
}

.campaign-form .image-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-y: auto;
}

.campaign-form .image-list .image-item {
  margin-bottom: 20px;
}

.campaign-form .image-list .image-item img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.campaign-form .image-list .image-item__btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.campaign-form .image-list .image-item__btn-wrapper span {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
}

.campaign-form .form-group ul {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.campaign-form .form-group ul li {
  background: var(--primary-color);
  padding: 11px 18px;
  border-radius: 5px;
  color: #fff;
}

.primary-btn {
  background: var(--primary-color);
  padding: 11px 18px;
  border-radius: 5px;
  color: #fff;
}

.secondry-btn {
  border: 1px solid #d1d0d0;
  padding: 11px 18px;
  border-radius: 5px;
  color: var(--primary-color);
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #898989;
  padding-bottom: 40px;
}

.setting h4 {
  font-weight: 600;
  font-size: 16px;
  color: #202020;
  margin-bottom: 10px;
}

.setting p {
  font-weight: 400;
  font-size: 14px;
  color: #898989;
  margin: 0px;
}

.setting .email {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 20px;
}

.setting.withbg {
  background: #f9f9f9;
  padding: 40px 20px;
  border-radius: 10px;
  border: none;
}

.setting.withbg .left {
  display: flex;
  gap: 20px;
}

.setting.withbg .email {
  background-color: var(--primary-color);
  padding: 5px 15px;
  color: #000;
}

.css-13cymwt-control {
  height: 58px;
}

.view-price {
  border: 1px solid #e6e6e6;
  padding: 20px 0px;
  justify-content: space-between;
  text-align: center;
}

.view-price div {
  width: 20%;
  border-right: 1px solid #e6e6e6;
}

.view-price div:last-child {
  border: none;
}

.view-price span {
  font-weight: 400;
  font-size: 10.05px;
  vertical-align: middle !important;
  color: #8c8c8c !important;
}

.view-price h4 {
  font-weight: 500 !important;
  margin-top: 10px !important;
  font-size: 11px !important;
  vertical-align: middle !important;
  color: #16192c !important;
  line-height: 10px !important;
  margin: 0px !important;
}

:root {
  --primary-color: #00bab5;
  --black-color: #000;
  --gray-color: #8c8c8c;
}

.badge-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 6.64px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 1.3;
  font-weight: 500;
}

.badge-success {
  color: #fff;
  background-color: #20c997;
}

.radius-xl {
  border-radius: 10px;
}

.PrimaryBtn {
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  background: var(--primary-color);
  padding: 7px 18px;
}

section.auth {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
section.auth .topbar {
  padding: 64px 0px 32px 0px;
}
section.auth .left-content .text-center {
  text-align: center !important;
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
}
section.auth .left-content .text-center h4 {
  font-weight: 700;
  font-size: 31.61px;
  line-height: 100%;
  color: var(--primary-color);
  margin-bottom: 20px;
}
section.auth .left-content .text-center p {
  font-weight: 400;
  font-size: 21.07px;
  color: #696969;
  margin-bottom: 50px;
}
section.auth .left-content .custom_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.auth .left-content .custom_form form {
  max-width: 550px;
}
section.auth .left-content .custom_form form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--black-color);
  margin-bottom: 10px;
}
section.auth .left-content .custom_form form a.forgot {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--black-color);
  margin-bottom: 10px;
}
section.auth .left-content .custom_form form input.field {
  border-radius: 5px;
  padding: 10px 20.02px;
  border: 2.11px solid #cdcdcd;
  margin-bottom: 20px;
}
section.auth .left-content .custom_form form select {
  border-radius: 5px;
  padding: 10px 20.02px;
  border: 2.11px solid #cdcdcd;
  margin-bottom: 20px;
}
section.auth .left-content .custom_form form .stylish-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px 30px 0px;
}
section.auth .left-content .custom_form form .stylish-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
section.auth .left-content .custom_form form .stylish-checkbox .form-check-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section.auth .left-content .custom_form form .stylish-checkbox .custom-box {
  width: 24px;
  height: 24px;
  border: 2px solid #d1d0d0;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}
section.auth .left-content .custom_form form .stylish-checkbox input[type=checkbox]:checked + label .custom-box::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #007bff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
section.auth .left-content .custom_form form button.register {
  width: 100%;
  height: 64px;
  height: 63.22265625;
  border-radius: 5.27px;
  background: var(--primary-color);
}
section.auth .left-content .custom_form form p.login-btn {
  text-align: center !important;
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
  margin: 40px 0px 0px 0px;
  font-weight: 400;
  font-size: 18.97px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--black-color);
}
section.auth .left-content .custom_form form p.login-btn a {
  color: var(--primary-color);
}

.custom_form .pass {
  position: relative;
}

.custom_form span.forgot {
  position: absolute;
  right: 25px;
  top: 37px;
}

.header-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9988;
  background: #fff;
  box-shadow: 0 2px 30px rgba(146, 153, 184, 0.1019607843);
}
.header-top .navbar {
  padding: 0 30px;
}
.header-top .navbar .navbar-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-top .navbar .navbar-left .sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 15px;
}
.header-top .navbar .navbar-left .sidebar-toggle:hover {
  background-color: rgba(95, 99, 242, 0.1);
}
.header-top .navbar .navbar-left .navbar-brand {
  margin-right: 115px;
}
.header-top .navbar .navbar-left form {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 11px;
  border-radius: 5px;
}
.header-top .navbar .navbar-left form input {
  height: 25px;
  border: 0 none;
  box-shadow: none;
  padding-left: 10px;
  background: transparent;
}
.header-top .navbar .navbar-left form input::-moz-placeholder {
  font-size: 12px;
}
.header-top .navbar .navbar-left form input::placeholder {
  font-size: 12px;
}
.header-top .navbar .navbar-right__menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 -12px;
}
.header-top .navbar .navbar-right__menu li {
  padding: 10px 12px;
}
.header-top .navbar .navbar-right__menu .nav-item-toggle {
  position: relative;
  color: #9299b8;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-top .navbar .navbar-right__menu .nav-item-toggle h4 {
  font-weight: 600;
  font-size: 18.9px;
  color: #16192c;
}
.header-top .navbar .navbar-right__menu .dropdown-wrapper__title {
  margin: 10px;
  border-radius: 6px;
  background: #f4f5f7;
  padding: 15px;
  font-size: 14px;
  text-align: center;
}
.header-top .navbar .navbar-right__menu .dropdown-wrapper__more {
  padding: 15px;
  text-align: center;
  display: block;
  box-shadow: 0 -15px 20px rgba(146, 153, 184, 0.08);
  color: #868eae;
  font-size: 13px;
  font-weight: 500;
}
.header-top .navbar .dropdown-custom {
  position: relative;
}
.header-top .navbar .dropdown-custom:hover .dropdown-wrapper {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}
.header-top .navbar .dropdown-custom .dropdown-wrapper {
  position: absolute;
  right: 0;
  top: 54px;
  min-width: 360px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  box-shadow: 0 5px 30px rgba(146, 153, 184, 0.15);
  transform: scale(0.7);
  transform-origin: top right;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35px;
  top: -35px;
  left: 0;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li .user-avater {
  margin-right: 15px;
  position: relative;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li .user-avater img {
  width: 40px;
  border-radius: 50%;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li .user-message {
  flex: 1;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li .user-message p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 0;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li .user-message p .subject {
  color: #272b41;
  font-size: 14px;
  text-decoration: none;
}
.header-top .navbar .dropdown-custom .dropdown-wrapper ul li .user-message p .time-posted {
  color: #20c997;
  font-size: 12px;
}

.navbar-right__menu .nav-author__info {
  background: #f4f5f7;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 20px 25px;
}

.navbar-right__menu .nav-author__info .author-img {
  margin-right: 15px;
}

.navbar-right__menu .nav-author__info .author-img img {
  max-width: 40px;
}

.navbar-right__menu .nav-author__info h6 {
  font-weight: 500;
  font-size: 16px;
}

.navbar-right__menu .nav-author__info span {
  font-size: 14px;
}

.navbar-right__menu .nav-author__options ul {
  list-style: none;
  margin: 0;
  padding: 0 0 15px;
}

.navbar-right__menu .nav-author__options ul li a {
  font-size: 16px;
  display: block;
  color: #9299b8;
  transition: all 0.3s ease;
}

.navbar-right__menu .nav-author__options ul li a svg {
  width: 18px;
  margin-right: 12px;
}

.navbar-right__menu .nav-author__signout {
  font-size: 13px;
  background: #f8f9fb;
  padding: 18px 15px;
  color: #868eae;
  display: block;
  text-align: center;
  font-weight: 500;
  width: 100%;
  border: none;
}

.sidebar {
  position: fixed;
  height: calc(100% - 74px);
  overflow-y: auto;
  left: 0;
  top: 74px;
  box-shadow: 0 0 30px rgba(146, 153, 184, 0.1);
  width: 280px;
  background: #fff;
  padding: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.sidebar .menu-text {
  transition: 0.2s;
}

.sidebar .menuItem {
  display: inline-block;
}

.sidebar.collapsed {
  width: 76px;
  padding: 0;
}

.sidebar.collapsed .menu-text {
  display: none;
}

.sidebar.collapsed .menuItem {
  display: none;
}

.sidebar.collapsed .sidebar__menu-group {
  margin-bottom: 0;
}

.sidebar.collapsed .sidebar__menu-group > span {
  display: none;
}

.sidebar.collapsed .sidebar__menu-group li {
  position: relative;
}

.sidebar.collapsed .sidebar__menu-group li.menu-title {
  display: none;
}

.sidebar.collapsed .sidebar__menu-group li a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 15px 0;
  justify-content: center;
  margin: 0 auto;
}

.sidebar.collapsed .sidebar__menu-group li a .nav-icon {
  margin-right: 0;
}

.sidebar.collapsed .sidebar__menu-group li a .toggle-icon {
  display: none;
}

.sidebar.collapsed .sidebar__menu-group li a.active,
.sidebar.collapsed .sidebar__menu-group li a:hover {
  background-color: rgba(95, 99, 242, 0.05);
}

.sidebar.collapsed .sidebar__menu-group .has-child ul {
  width: 240px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  right: -225px;
  position: absolute;
  top: 0;
  padding: 10px 20px;
  transform: scale(0.8);
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  max-height: 350px;
  overflow: auto;
  z-index: 999;
}

.sidebar.collapsed .sidebar__menu-group .has-child ul li a {
  width: 100%;
  height: auto;
  padding: 8px 0;
  text-align: left;
  justify-content: flex-start;
}

.sidebar.collapsed .sidebar__menu-group .has-child ul li a.active,
.sidebar.collapsed .sidebar__menu-group .has-child ul li a:hover {
  background-color: transparent;
}

.sidebar.collapsed .sidebar__menu-group .has-child:hover ul {
  display: block !important;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.sidebar.collapsed .mCSB_container,
.sidebar.collapsed .mCustomScrollBox {
  overflow: visible;
}

.sidebar__menu-group {
  margin-bottom: 25px;
}

.sidebar__menu-group ul.sidebar_nav {
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
}

.sidebar__menu-group ul.sidebar_nav li.menu-title span {
  text-transform: uppercase;
  display: block;
  color: #868eae;
  font-size: 12px;
  font-weight: 500;
  padding: 0 30px;
  margin-bottom: 10px;
}

.sidebar__menu-group ul.sidebar_nav li > a {
  display: flex;
  align-items: center;
  padding: 25px 0px 25px 50px;
  position: relative;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.sidebar__menu-group ul.sidebar_nav li {
  padding-left: 20px;
}

.sidebar__menu-group ul.sidebar_nav li > a.active {
  color: var(--primary-color);
  background-color: #f4f4f4;
  font-weight: 500;
  border-radius: 100px 0px 0px 100px;
}

.sidebar__menu-group ul.sidebar_nav li > a svg path {
  fill: #8c8c8c;
}

.sidebar__menu-group ul.sidebar_nav li > a.active svg path {
  fill: #00bab5;
}

.sidebar__menu-group ul.sidebar_nav li > a .nav-icon {
  color: #adb4d2;
  display: inline-block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.sidebar__menu-group ul.sidebar_nav li > a .toggle-icon {
  font-size: 12px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: auto;
  transition: all 0.3s ease;
}

.sidebar__menu-group ul.sidebar_nav li > a .toggle-icon:before {
  content: "\f105";
}

.sidebar__menu-group ul.sidebar_nav li > a .menuItem {
  position: absolute;
  right: 52px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  font-size: 10px;
  border-radius: 3px;
  padding: 3px 4px 4px;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
}

.sidebar__menu-group ul.sidebar_nav li ul {
  padding: 8px 0 12px 36px;
}

.sidebar__menu-group ul.sidebar_nav li.has-child.open > a .toggle-icon:before {
  content: "\f107";
}

.sidebar__menu-group ul.sidebar_nav li ul li > a.active,
.sidebar__menu-group ul.sidebar_nav li ul li > a:hover {
  background-color: transparent;
}

.sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}

.sidebar-toggle:hover {
  background-color: rgba(95, 99, 242, 0.1);
}

.sidebar-toggle:hover svg #Path_1,
.sidebar-toggle:hover svg #Path_2,
.sidebar-toggle:hover svg #Path_3 {
  fill: #5f63f2;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.35s ease;
  opacity: 0;
}

.submenu.show {
  max-height: 500px; /* big enough to fit your menu */
  opacity: 1;
}

.has-child > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-icon {
  transition: transform 0.3s ease;
}

.has-child.open .toggle-icon {
  transform: rotate(90deg);
}

.contents {
  padding: 74px 15px 72px 295px;
  transition: all 0.3s ease;
}

.breadcrumb-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  margin-top: 40px;
  line-height: 1.85714;
}

.breadcrumb-title {
  font-weight: 600;
  font-size: 21.65px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.ap-po-details {
  box-shadow: 0 5px 20px rgba(146, 153, 184, 0.03);
  padding: 24px 25px 20px 25px;
}

.ap-po-details .overview-content .icon {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.ap-po-details .overview-content h1 {
  font-weight: 600;
  font-size: 22.51px;
  line-height: 22.51px;
  letter-spacing: 0%;
}

.ap-po-details .overview-content p {
  color: #868eae;
  font-size: 14px;
  line-height: 1.78571;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0px;
}

.ap-po-details .ap-po-details-time strong {
  font-weight: 600;
  font-size: 11.28px;
  color: #a7a7a7;
}

.product {
  transition: all 0.3s ease;
}

.card {
  box-shadow: 0 5px 20px rgba(146, 153, 184, 0.03);
  border: none;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.campaign-card {
  margin-bottom: 20px;
}

.campaign-card .card-title {
  font-weight: 500;
  font-size: 14px;
  color: #161616;
  margin-bottom: 15px;
}

.campaign-card .card-desc {
  font-weight: 500;
  font-size: 12px;
  color: #8c8c8c;
  line-height: 18px;
  margin-bottom: 15px;
}

.campaign-card .product-item__button {
  opacity: 1;
  border-top-left-radius: 7.18px;
  border-top-right-radius: 7.18px;
  border-bottom-right-radius: 7.18px;
  border-bottom-left-radius: 7.18px;
  border-width: 1px;
  border: 1px solid #00627c;
  margin-bottom: 20px;
}

.campaign-card .product-item__button .btn-update {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 85%;
}

.campaign-card .product-item__button .btn-edit {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 15%;
  border-left: 1px solid #00627c;
  border-radius: 0px;
}

.campaign-card .product-desc-price {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  justify-content: space-between;
  text-align: center;
}

.campaign-card .product-desc-price span {
  font-weight: 400;
  font-size: 10.05px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8c8c8c;
}

.campaign-card .product-desc-price h4 {
  font-weight: 500;
  margin-top: 10px;
  font-size: 11.49px;
  vertical-align: middle;
  color: #16192c;
}

.campaign-card .product-desc-price div {
  border-right: 1px solid #e6e6e6;
  width: 33%;
}

.group-card .product-desc-price div {
  width: 50%;
}

.campaign-card .product-desc-price div:last-child {
  border: none;
}

.campaign-card .product-item__image {
  position: relative;
}

.campaign-card .product-item__image img {
  width: 100%;
  height: 190px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.campaign-card .days-left {
  position: absolute;
  font-size: 10px;
  line-height: 1.8;
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(146, 153, 184, 0.1019607843);
  left: 15px;
  top: 15px;
  border-radius: 5px;
  padding: 5px 10px;
}

.campaign-card .percent {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(146, 153, 184, 0.1019607843);
  left: 15px;
  height: 40px;
  bottom: 15px;
  border-radius: 100%;
  padding: 5px 10px;
  border: 1px solid #00bab5;
}

.campaign-card .percent span {
  color: #00627c;
  font-size: 10px;
  line-height: 1.8;
  font-weight: 500;
}

.campaign-card .featured {
  position: absolute;
  font-size: 10px;
  line-height: 1.8;
  font-weight: 400;
  color: #fff;
  background-color: #00bab5;
  box-shadow: 0 5px 10px rgba(146, 153, 184, 0.1019607843);
  right: -5px;
  bottom: 15px;
  border-radius: 5px;
  padding: 5px 10px;
}

.custom-modal {
  z-index: 9999999;
}

.custom-modal .modal-dialog {
  margin: 0 0 0 auto;
}

.custom-modal .modal-header {
  border: none;
  padding: 40px 20px 0px 20px;
}

.custom-modal .modal-header span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.modal-backdrop.show {
  background: rgba(0, 98, 124, 0.6);
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 9999;
}

.custom-modal .modal-content {
  box-shadow: none;
  border: none;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  top: 0px;
  box-shadow: 0 0 30px rgba(146, 153, 184, 0.1);
  width: 646px;
  background: #fff;
  padding: 0;
  transition: all 0.3s ease;
  z-index: 999;
  right: 0px;
}

.custom-modal .content img {
  width: 100%;
  display: block;
  height: 317px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.custom-modal .content h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 20px;
}

.custom-modal .content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}

.global-shadow {
  box-shadow: 0 5px 20px rgba(146, 153, 184, 0.031372549);
}

.userDatatable table {
  border-bottom: 1px solid #f1f2f6;
  border-collapse: separate;
  border-spacing: 0;
}

.userDatatable table thead tr:not(.footable-filtering) {
  border-radius: 10px;
}

.table-borderless tr:last-child {
  border-bottom: 0 none !important;
}

.userDatatable table thead tr:not(.footable-filtering) th:first-child {
  border-left: 1px solid #f1f2f6;
  border-radius: 10px 0 0 10px;
}

.userDatatable table thead tr:not(.footable-filtering) th {
  color: #5a5f7d;
  background: #f8f9fb;
  border-top: 1px solid #f1f2f6;
  border-bottom: 1px solid #f1f2f6;
  white-space: nowrap;
}

.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  border: 0;
}

.userDatatable-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #5a5f7d;
}

.userDatatable table tbody tr:first-child td {
  padding-top: 11px;
}

.userDatatable table td {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
  vertical-align: middle;
  white-space: nowrap;
}

.userDatatable-content,
.userDatatable-inline-title h6 {
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: capitalize;
}

.userDatatable-header th {
  padding: 13px 20px 15px 20px;
  border: none;
}

.p-30 {
  padding: 1.875rem !important;
}

.mb-30,
.my-30 {
  margin-bottom: 1.875rem !important;
}

.orderDatatable_actions {
  margin: 0px;
  padding: 0px;
}

.orderDatatable_actions li {
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.orderDatatable_actions li svg {
  width: 16px !important;
  color: #adb4d2;
}

.order-bg-opacity-primary {
  background: #d2f2f1;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 20px;
}

.mixed-chart {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.inner-card {
  border-radius: 9px;
  border-width: 1px;
  background: #f7f9fc;
  border: 1px solid #ccf1f0;
  padding: 20px;
  margin-bottom: 30px;
}

.apexcharts-text {
  font-size: 14px;
  font-weight: 400;
}

.inner-card-chart {
  border-radius: 9px;
  border-width: 1px;
  background: #f7f9fc;
  border: 1px solid #ccf1f0;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.inner-card-chart h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.circle-chart h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.organizer-list-card {
  padding: 20px;
}

.organizer-list-card .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.organizer-list-card h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.organizer-list-card .info h4 {
  font-weight: 500;
  font-size: 14px;
  color: #202226;
  margin-bottom: 10px;
}

.organizer-list-card .info p {
  font-weight: 400;
  font-size: 13px;
  color: #93989a;
  margin: 0px;
}

.shimmer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
}

.shimmer-line {
  height: 20px;
  border-radius: 8px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */